<div class="flight">
  <form [formGroup]="searchForm" (ngSubmit)="onSearch()" class="flight__search">
    <div class="row g-3">
      <div class="col">
        <label class="form-label"
          >Departure Airport Code
          <span
            class="warning"
            *ngIf="searchForm.get('DepartureAirportCode').invalid"
          >
            (Please enter a valid input)
          </span></label
        >
        <input
          type="text"
          class="form-control"
          placeholder="First name"
          aria-label="First name"
          formControlName="DepartureAirportCode"
          maxlength="3"
        />
      </div>
      <div class="col">
        <label class="form-label"
          >Arrival Airport Code
          <span
            class="warning"
            *ngIf="searchForm.get('ArrivalAirportCode').invalid"
          >
            (Please enter a valid input)
          </span>
        </label>
        <input
          type="text"
          class="form-control"
          placeholder="Last name"
          aria-label="Last name"
          formControlName="ArrivalAirportCode"
          maxlength="3"
        />
      </div>
    </div>
    <div class="row g-3">
      <div class="col">
        <label class="form-label">Departure Date</label>
        <input
          type="text"
          class="form-control"
          placeholder="First name"
          aria-label="First name"
          formControlName="DepartureDate"
          readonly
          bsDatepicker
        />
      </div>
      <div class="col">
        <label class="form-label">Return Date</label>
        <input
          type="text"
          class="form-control"
          placeholder="Last name"
          aria-label="Last name"
          formControlName="ReturnDate"
          readonly
          bsDatepicker
        />
      </div>
    </div>
    <button
      type="submit"
      class="btn btn-warning"
      [disabled]="searchForm.invalid"
    >
      Search
    </button>
  </form>
  <div
    class="filter card"
    *ngIf="Data.length || (filterMode && Data.length <= 0)"
  >
    <h5>Advnace Filter</h5>
    <div class="col-4">
      <h5>Price: {{ rangeValues[0] + " - " + rangeValues[1] }}</h5>
      <p-slider
        [(ngModel)]="rangeValues"
        [max]="16000"
        [range]="true"
      ></p-slider>
    </div>
    <button class="btn btn-outline-success" (click)="advanceFilter()">
      Filter
    </button>
  </div>

  <div class="flight__search--result" *ngIf="Data.length; else message">
    <app-flight-details
      *ngFor="let item of Data"
      [FlightDetails]="item"
    ></app-flight-details>
  </div>

  <ng-template class="container" #message>
    <div
      class="alert_message text-center"
      *ngIf="filterMode && Data.length <= 0"
    >
      Couldn't find any match with the filter, Change filter value or Click
      <button class="btn btn-outline-success" (click)="ResetFilter()">
        Reset Filter
      </button>
      to see all data
    </div>
    <div
      class="alert_message text-center"
      *ngIf="!filterMode && Data.length <= 0"
    >
      <p>Start Looking for Flight</p>
    </div>
  </ng-template>
</div>
